extends layout

block content
    div.container
        form(method='post',action=href)
            div.left.col
                textarea#stylus-markup(name='stylus')= tpl
            div.center.col
                div.submit
                    input#parse-css(type='submit', value='convert')
            div.right.col
                pre#markup-parsed ...

